@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400|Trocchi);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #999;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #737373;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Open Sans";
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #999;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(140, 140, 140, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  height: 1.25em;
  width: 1.25em;
  vertical-align: bottom;
  border: 1px solid #999;
  border-radius: 2px;
  background-color: white; }
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    outline: none; }

input[type="checkbox"]:checked:before {
  font-family: 'fontello';
  content: '\e806';
  position: absolute;
  font-size: 0.9em;
  left: 0;
  top: 2px;
  text-align: center;
  width: 1.25em;
  color: #e56120; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.standard-list,
  ol.standard-list {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.standard-list {
  line-height: 1.5; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

tr,
td,
th {
  vertical-align: middle; }

tbody tr {
  cursor: pointer; }
  tbody tr:hover {
    background: white; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Open Sans";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Open Sans";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #999;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #737373; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.strong {
  font-weight: 700; }

.subheading {
  font-size: 1.1em;
  font-family: "Trocchi", sans-serif;
  line-height: 1.2;
  padding-bottom: 0.375em;
  margin-bottom: 0.75em;
  border-bottom: 1px solid #dFdbd3; }
  .subheading.large {
    font-size: 1.65em; }

.emissions {
  color: #6c8fa3; }

.efficiency {
  color: #029ea9; }

.indoor-emissions {
  color: #ffba00; }

.safety {
  color: #da89a8; }

.back {
  font-size: 0.9em;
  margin-bottom: 1.5em; }
  .back i::before {
    margin-left: 0; }

.icon-info {
  color: #999;
  font-size: 0.9em; }

main {
  top: 61px; }
  main .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3.3em; }
    main .wrapper::after {
      content: "";
      display: block; }

.block-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* edit: added z-index */
  z-index: 99;
  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url("../images/empty.gif"); }

aside[role="content-assist"] {
  background: white;
  position: fixed;
  top: 61px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  webkit-overflow-scrolling: touch;
  width: 30%; }

main[role="content"] {
  border-left: 1px solid #dFdbd3;
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  webkit-overflow-scrolling: touch;
  width: 70%; }
  main[role="content"].show {
    background: white; }
  main[role="content"] .content {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    margin-bottom: 6em; }
    main[role="content"] .content::after {
      clear: both;
      content: "";
      display: table; }
  main[role="content"] .stats-wrapper {
    width: 100%;
    float: left; }
  main[role="content"] .stats {
    width: 100%;
    margin-bottom: 1.5em;
    text-align: center;
    background: #eae7e2;
    border-radius: 3px; }

.grid {
  width: 100%;
  float: left;
  padding: 1.5em; }

main[role="full-width-content"] .sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  padding: 1.5em 0; }
  main[role="full-width-content"] .sidebar:last-child {
    margin-right: 0; }
  main[role="full-width-content"] .sidebar img {
    border: 1px solid #dFdbd3;
    border-radius: 3px; }
main[role="full-width-content"] .content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  padding: 1.5em 0;
  margin-bottom: 6em; }
  main[role="full-width-content"] .content:last-child {
    margin-right: 0; }
  main[role="full-width-content"] .content.longform {
    line-height: 1.8;
    margin-bottom: 1.5em; }
main[role="full-width-content"] .wrapper {
  margin-top: -61px;
  padding-top: 61px; }
main[role="full-width-content"] .container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main[role="full-width-content"] .container::after {
    clear: both;
    content: "";
    display: table; }

main[role="landing"] .content {
  width: 100%;
  float: left; }
main[role="landing"] .hero {
  background: #01575d;
  color: white;
  padding: 3em 0;
  text-transform: uppercase; }
  main[role="landing"] .hero .inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    main[role="landing"] .hero .inner::after {
      clear: both;
      content: "";
      display: table; }
  main[role="landing"] .hero .logo {
    display: block;
    margin-bottom: 2em; }
    main[role="landing"] .hero .logo::after {
      clear: both;
      content: "";
      display: table; }
    main[role="landing"] .hero .logo img {
      max-width: 130px; }
  main[role="landing"] .hero .text {
    display: block;
    line-height: 2.4em; }
    main[role="landing"] .hero .text::after {
      clear: both;
      content: "";
      display: table; }
  main[role="landing"] .hero .title {
    font-size: 1.7em;
    font-weight: 700; }
  main[role="landing"] .hero .subtitle {
    font-size: 1.2em; }
main[role="landing"] .row {
  width: 100%;
  float: left; }
  main[role="landing"] .row.shaded {
    background: #f0eeeb; }
  main[role="landing"] .row .inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 0 6em 0; }
    main[role="landing"] .row .inner::after {
      clear: both;
      content: "";
      display: table; }
  main[role="landing"] .row .large-section {
    width: 60%;
    float: left;
    min-height: 550px; }
    main[role="landing"] .row .large-section.contribute {
      background: url("../images/field.jpg") top left no-repeat;
      background: url("../images/field.jpg") top left no-repeat;
      background-size: cover; }
  main[role="landing"] .row .small-section {
    width: 40%;
    float: left;
    padding: 3em; }
  main[role="landing"] .row .description {
    font-size: 1.2em;
    margin-bottom: 2.25em;
    max-width: 38em;
    float: left;
    clear: both; }
  main[role="landing"] .row .title {
    width: 100%;
    float: left;
    text-transform: uppercase;
    color: #999;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 1.5em; }
  main[role="landing"] .row .learn-more-btn {
    background-color: #02868f;
    border-radius: 3px;
    border: 0;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    font-size: 0.9rem;
    text-transform: uppercase; }
    main[role="landing"] .row .learn-more-btn:hover:not(:disabled) {
      background-color: #009fab;
      cursor: pointer; }
    main[role="landing"] .row .learn-more-btn:active:not(:disabled), main[role="landing"] .row .learn-more-btn:focus:not(:disabled) {
      background-color: #046d74;
      cursor: pointer; }
    main[role="landing"] .row .learn-more-btn:disabled {
      cursor: not-allowed;
      opacity: 0.5; }
    main[role="landing"] .row .learn-more-btn.about {
      background-color: #dFdbd3;
      border-radius: 3px;
      border: 0;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      padding: 7px 18px;
      text-decoration: none;
      background-clip: padding-box;
      font-size: 0.9rem; }
      main[role="landing"] .row .learn-more-btn.about:hover:not(:disabled) {
        background-color: #ebe7e1;
        cursor: pointer; }
      main[role="landing"] .row .learn-more-btn.about:active:not(:disabled), main[role="landing"] .row .learn-more-btn.about:focus:not(:disabled) {
        background-color: #d2cec6;
        cursor: pointer; }
      main[role="landing"] .row .learn-more-btn.about:disabled {
        cursor: not-allowed;
        opacity: 0.5; }
main[role="landing"] .site-section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  position: relative;
  cursor: pointer;
  font-family: "Trocchi", sans-serif;
  min-height: 375px;
  padding: 0.75em;
  color: white;
  background-size: cover;
  font-size: 1.7em;
  text-shadow: 1px 1px 0 #333; }
  main[role="landing"] .site-section:last-child {
    margin-right: 0; }
  main[role="landing"] .site-section:after {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: transparent; }
  main[role="landing"] .site-section:focus:after, main[role="landing"] .site-section:hover:after {
    background: rgba(51, 51, 51, 0.5); }
  main[role="landing"] .site-section.stoves {
    background: url("../images/cambodia-briquettes.jpg") center no-repeat;
    background: url("../images/cambodia-briquettes.jpg") center no-repeat; }
  main[role="landing"] .site-section.fuels {
    background: url("../images/uganda-briquettes.jpg") center no-repeat;
    background: url("../images/uganda-briquettes.jpg") center no-repeat; }
  main[role="landing"] .site-section.test-results {
    background: url("../images/epa-lab.jpg") right no-repeat;
    background: url("../images/epa-lab.jpg") right no-repeat; }
  main[role="landing"] .site-section .text {
    background: -webkit-linear-gradient(rgba(51, 51, 51, 0.75), transparent) bottom no-repeat;
    background: linear-gradient(rgba(51, 51, 51, 0.75), transparent) bottom no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0.75em;
    z-index: 11; }
  main[role="landing"] .site-section .options {
    background: -webkit-linear-gradient(transparent, rgba(51, 51, 51, 0.85)) bottom no-repeat;
    background: linear-gradient(transparent, rgba(51, 51, 51, 0.85)) bottom no-repeat;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 1.3rem;
    padding: 3rem 1rem 1rem 1rem;
    z-index: 11;
    line-height: 2.3rem; }
  main[role="landing"] .site-section a {
    color: white; }
    main[role="landing"] .site-section a:hover {
      color: #02b5c2; }

.user-grid {
  width: 100%;
  float: left;
  border: 1px solid #dFdbd3;
  border-radius: 3px; }
  .user-grid .item {
    display: block;
    height: 260px;
    width: 33.33%;
    float: left;
    padding: 2em;
    background: white;
    border-right: 1px solid #dFdbd3;
    border-bottom: 1px solid #dFdbd3;
    text-align: center; }
    .user-grid .item img {
      height: 4.5em; }
    .user-grid .item .icon {
      margin-bottom: 1.5em; }
    .user-grid .item.last-row {
      border-bottom: none; }
    .user-grid .item:nth-child(1) {
      border-top-left-radius: 3px; }
    .user-grid .item:nth-child(3) {
      border-top-right-radius: 3px; }
    .user-grid .item:nth-child(4) {
      border-bottom-left-radius: 3px; }
    .user-grid .item:nth-child(6) {
      border-bottom-right-radius: 3px; }
    .user-grid .item:nth-child(3n) {
      border-right: none; }
  .user-grid .name {
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    margin-bottom: 1.5em; }
  .user-grid .caption {
    margin: 0; }

header.navigation {
  font-family: "Open Sans", "Open Sans";
  background-color: #01575d;
  border-bottom: 1px solid #00282b;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation a {
    text-decoration: none; }
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999;
    text-transform: uppercase; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1.5em;
    padding-right: 3em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0.8em 0.8em 0;
      float: left; }
    header.navigation .logo .site-name {
      font-size: 1.1em;
      display: inline-block;
      line-height: 60px;
      z-index: 9999999;
      color: white; }
  header.navigation .navigation-menu-button {
    color: white;
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: rgba(255, 255, 255, 0.6); }
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: left; } }
  header.navigation ul.navigation-menu {
    font-size: 0.9em;
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #01575d;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: white;
      display: inline-block;
      font-weight: 700; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: rgba(255, 255, 255, 0.6); }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: white; }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 13.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #01494e;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #01575d;
            padding-left: 1em;
            text-align: left;
            width: 14em; } }
  header.navigation .navigation-tools {
    background: #016f76;
    clear: both;
    display: block;
    height: 60px;
    padding-left: 0.75em;
    padding-right: 1.5em; }
    header.navigation .navigation-tools .resources {
      color: white;
      line-height: 60px;
      padding-right: 3em; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  header.navigation .nav-button {
    background-color: #dFdbd3;
    border-radius: 3px;
    border: 0;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    display: inline;
    float: right;
    font-size: 0.8em;
    margin-top: 1em;
    margin-left: 1em;
    padding: 0.5em 0.65em;
    text-transform: uppercase; }
    header.navigation .nav-button:hover:not(:disabled) {
      background-color: #ebe7e1;
      cursor: pointer; }
    header.navigation .nav-button:active:not(:disabled), header.navigation .nav-button:focus:not(:disabled) {
      background-color: #d2cec6;
      cursor: pointer; }
    header.navigation .nav-button:disabled {
      cursor: not-allowed;
      opacity: 0.5; }

.footer {
  background: #172e32;
  padding: 0 1.5rem;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Open Sans", "Open Sans";
  font-size: 0.8em;
  font-weight: 700;
  height: 17em; }
  @media screen and (min-width: 53.75em) {
    .footer {
      height: 4.2em; } }
  .footer .footer-logo {
    margin-left: 1em;
    padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      .footer .footer-logo {
        float: right;
        margin-bottom: 0; } }
  .footer ul {
    line-height: 2.5em;
    margin: 0 0 1em 0;
    padding: 0; }
    @media screen and (min-width: 53.75em) {
      .footer ul {
        float: left;
        line-height: 4em;
        margin-bottom: 0; } }
  .footer li {
    list-style: none;
    padding-right: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer li {
        display: inline;
        text-align: left; } }
  .footer li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    @media screen and (min-width: 53.75em) {
      .footer li a {
        line-height: 4em; } }
    .footer li a:focus, .footer li a:hover {
      color: white; }

.prefooter {
  width: 100%;
  float: left;
  padding: 2em 1.5em;
  border-top: 1px solid #376e78;
  background: url("../images/briquette-background-transparent.png"), -webkit-linear-gradient(#274e55, #172e32), center no-repeat #24484e scroll;
  background: url("../images/briquette-background-transparent.png"), linear-gradient(#274e55, #172e32), center no-repeat #24484e scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .prefooter .inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .prefooter .inner::after {
      clear: both;
      content: "";
      display: table; }
  .prefooter .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .prefooter .logo:last-child {
      margin-right: 0; }
    .prefooter .logo img {
      max-width: 148px; }
  .prefooter .contact {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    line-height: 1.8em; }
    .prefooter .contact:last-child {
      margin-right: 0; }
    .prefooter .contact .title {
      font-weight: 700;
      margin-bottom: 0.25em; }
  .prefooter a {
    color: #defdff;
    transition: color 0.1s linear; }
    .prefooter a:active, .prefooter a:focus, .prefooter a:hover {
      color: white; }

.filter-panel {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Open Sans";
  padding: 0.5em 1.5em; }
  .filter-panel::after {
    clear: both;
    content: "";
    display: table; }
  .filter-panel .panel-header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    position: relative;
    line-height: 1.6em; }
    .filter-panel .panel-header:last-child {
      margin-right: 0; }
    .filter-panel .panel-header .count-value {
      font-size: 1.6em; }
    .filter-panel .panel-header .count-label {
      color: #999; }
    .filter-panel .panel-header .download {
      position: absolute;
      right: 0.75em;
      bottom: 1em;
      text-align: right;
      font-size: 0.9em;
      line-height: 2em; }

.filter-group {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em; }
  .filter-group:last-child {
    margin-right: 0; }
  .filter-group.last {
    border-bottom: none; }
  .filter-group .label {
    width: 100%;
    padding: 0.5em 0; }
    .filter-group .label.inline {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin: 0; }
      .filter-group .label.inline:last-child {
        margin-right: 0; }
  .filter-group .options {
    width: 100%; }
    .filter-group .options.inline {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .filter-group .options.inline:last-child {
        margin-right: 0; }
  .filter-group .icon-info {
    color: #999; }
  .filter-group input {
    margin-top: 0;
    margin-bottom: 0; }

.checkbox-group {
  position: relative; }
  .checkbox-group label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    font-family: "Open Sans", "Open Sans";
    padding: 0.6em 0;
    font-weight: 400;
    margin: 0;
    line-height: 1.3em; }
    .checkbox-group label:last-child {
      margin-right: 0; }
  .checkbox-group .string {
    display: inline-block;
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-left: 0.5em; }
  .checkbox-group i {
    position: absolute;
    right: 0;
    top: 1.75em;
    font-size: 1.6em;
    color: #999; }
    .checkbox-group i:before {
      margin-right: 0; }
    .checkbox-group i:hover {
      color: #737373; }
  .checkbox-group .more-choices {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .checkbox-group .more-choices:last-child {
      margin-right: 0; }
  .checkbox-group.is-expanded {
    display: block;
    padding-bottom: 0; }

.with-pips {
  padding-bottom: 4em; }

.with-slider-labels {
  padding-bottom: 2em; }

.grid-item {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  max-width: 34em;
  margin-bottom: 1.5em;
  background: white;
  cursor: pointer;
  border-top: 2px solid #f0eeeb; }
  @media screen and (min-width: 78.75em) {
    .grid-item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .grid-item:last-child {
        margin-right: 0; }
      .grid-item:nth-child(3n) {
        margin-right: 0; }
      .grid-item:nth-child(3n+1) {
        clear: left; } }
  .grid-item:hover, .grid-item:active {
    border-top-color: #02868f;
    box-shadow: inset 0 -1px #02868f; }
    .grid-item:hover .iwa, .grid-item:active .iwa {
      box-shadow: inset 0 -1px #02868f; }
    .grid-item:hover .title, .grid-item:active .title {
      color: #02868f; }
  .grid-item .item-content {
    width: 100%;
    float: left;
    margin-bottom: 0.75em; }
  .grid-item .photo {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 30.11389%;
    margin-right: 0;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #e8e5df; }
    .grid-item .photo:last-child {
      margin-right: 0; }
  .grid-item .info {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 65.05695%; }
    .grid-item .info:last-child {
      margin-right: 0; }
  .grid-item .title {
    width: 100%;
    color: #01575d;
    float: left;
    font-size: 0.9em;
    padding: 0.5em 0 0.75em 0;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .grid-item .small {
    color: #999;
    font-size: 0.9em;
    margin-bottom: 0.25em; }
  .grid-item .iwa {
    width: 100%;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    float: left;
    background: #f0eeeb;
    padding: 0.5em 1em;
    text-shadow: 1px 1px 0 #ddd;
    z-index: -1; }
    .grid-item .iwa .iwa-tier {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 19.43277%;
      font-size: 0.9em;
      border-right: 1px solid #dFdbd3; }
      .grid-item .iwa .iwa-tier:last-child {
        margin-right: 0; }
      .grid-item .iwa .iwa-tier:nth-child(4) {
        margin-right: 0;
        border-right: none; }

.button-group input {
  display: none; }
.button-group label {
  margin-bottom: 0; }
  @media screen and (min-width: 53.75em) {
    .button-group label {
      float: left; } }
  .button-group label .button-group-item {
    background: #fff;
    border-left: 1px solid silver;
    border-radius: 0;
    border-right: 1px solid silver;
    color: gray;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    padding: 0.75em 1em;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .button-group label .button-group-item {
        border-bottom: 1px solid silver;
        border-left: 0;
        border-right: 1px solid #eeeeee;
        border-top: 1px solid silver;
        width: auto; } }
    .button-group label .button-group-item:focus, .button-group label .button-group-item:hover {
      background-color: #f7f7f7; }
  .button-group label:first-child .button-group-item {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid silver; }
    @media screen and (min-width: 53.75em) {
      .button-group label:first-child .button-group-item {
        border-bottom-left-radius: 3px;
        border-left: 1px solid silver;
        border-top-left-radius: 3px;
        border-top-right-radius: 0; } }
  .button-group label:last-child .button-group-item {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid silver; }
    @media screen and (min-width: 53.75em) {
      .button-group label:last-child .button-group-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-right: 1px solid silver;
        border-top-right-radius: 3px; } }
  .button-group label input:checked + .button-group-item {
    background: #d4cfc4;
    border: 1px solid #b4ab98;
    box-shadow: inset 0 1px 2px #bfb7a7;
    color: white; }

.counter {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 0.75em;
  line-height: 1;
  color: #999;
  background-color: #ddd;
  border-radius: 0.5em;
  margin-left: 0.3em; }

.slider {
  padding: 0 0.5em;
  margin: 1em 0; }
  .slider.inline {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0; }
    .slider.inline:last-child {
      margin-right: 0; }
  .slider .noUi-horizontal {
    height: 10px; }
  .slider .noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    left: -9px;
    top: -8px; }
  .slider .noUi-background {
    background: #d4cfc4;
    box-shadow: none; }
  .slider .noUi-origin {
    border-radius: 0; }
  .slider .noUi-target {
    border-radius: 0;
    border: 4px solid #f7f7f7;
    box-shadow: none; }
  .slider .noUi-target.noUi-connect {
    box-shadow: none; }
  .slider .noUi-origin {
    background: #d4cfc4; }
    .slider .noUi-origin:first-child {
      background: #e56120; }
  .slider #iwa-emissions-slider .noUi-origin:first-child {
    background: #6c8fa3; }
  .slider #iwa-efficiency-slider .noUi-origin:first-child {
    background: #029ea9; }
  .slider #iwa-indoor-emissions-slider .noUi-origin:first-child {
    background: #ffba00; }
  .slider #iwa-safety-slider .noUi-origin:first-child {
    background: #da89a8; }
  .slider .noUi-handle {
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    background: #FFF;
    cursor: pointer;
    box-shadow: inset 0 0 1px #f7f7f7, inset 0 1px 7px #eaeaea, 0 3px 6px -3px #BBB; }
  .slider .noUi-active {
    box-shadow: inset 0 0 1px #eaeaea, inset 0 1px 7px #ddd, 0 3px 6px -3px #BBB; }
  .slider .noUi-handle:before,
  .slider .noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 1px;
    background: #d0d0d0;
    left: 6px;
    top: 4px; }
  .slider .noUi-handle:after {
    left: 9px; }
  .slider .noUi-pips-horizontal {
    padding: 20px 0;
    height: 50px;
    top: 100%;
    left: 0;
    width: 100%; }
  .slider .noUi-marker-normal {
    margin-left: -1px;
    width: 2px;
    height: 2px; }
  .slider .noUi-marker-horizontal.noUi-marker-large {
    height: 10px; }
  .slider .noUi-value-horizontal {
    padding-top: 15px; }

.slider-label {
  width: auto;
  position: relative;
  top: 15px; }
  .slider-label.left {
    float: left;
    left: -0.4em; }
  .slider-label.right {
    float: right;
    right: -0.3em; }

.applied-filters {
  width: 100%;
  float: left;
  padding: 1.4em 1.5em 0.8em 1.5em;
  background: #f0eeeb;
  border-bottom: 1px solid #dFdbd3; }
  .applied-filters .label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    white-space: nowrap;
    font-size: 0.85em;
    font-weight: 700;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 0.5em; }
    .applied-filters .label:last-child {
      margin-right: 0; }
  .applied-filters .filters {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    font-size: 0.9em; }
    .applied-filters .filters:last-child {
      margin-right: 0; }
  .applied-filters .controls {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .applied-filters .controls:last-child {
      margin-right: 0; }
  .applied-filters .filter {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
    cursor: pointer; }
    .applied-filters .filter:hover {
      color: #737373; }

.data-field {
  width: 100%;
  float: left;
  padding: 0.25em 0; }
  .data-field p {
    margin: 0; }
  .data-field .label, .data-field .value {
    display: inline-block; }
    .data-field .label.full-width, .data-field .value.full-width {
      width: 100%;
      float: left; }
  .data-field .label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .data-field .label:last-child {
      margin-right: 0; }
    .data-field .label.full-width {
      margin-bottom: 0.25em; }
  .data-field .value {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    color: #016f76; }
    .data-field .value:last-child {
      margin-right: 0; }
  .data-field .small {
    color: #999;
    font-size: 0.8em; }
  .data-field .filename {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    padding: 0.3em 0; }
    .data-field .filename:last-child {
      margin-right: 0; }
  .data-field .download-link-wrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .data-field .download-link-wrapper:last-child {
      margin-right: 0; }
  .data-field .download-link {
    background-color: #dFdbd3;
    border-radius: 3px;
    border: 0;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    text-align: center; }
    .data-field .download-link:hover:not(:disabled) {
      background-color: #ebe7e1;
      cursor: pointer; }
    .data-field .download-link:active:not(:disabled), .data-field .download-link:focus:not(:disabled) {
      background-color: #d2cec6;
      cursor: pointer; }
    .data-field .download-link:disabled {
      cursor: not-allowed;
      opacity: 0.5; }
  .data-field i::before {
    margin-left: 0; }

.pager {
  font-family: "Open Sans", "Open Sans";
  color: #01575d; }
  .pager .count {
    font-weight: 700; }
  .pager .caption {
    font-size: 0.9em; }
  .pager .progress {
    margin-top: 0.75em;
    text-align: left; }
  .pager .item {
    display: inline-block; }
  .pager .item::after {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 1.5em;
    height: 1.5em;
    content: "";
    border-radius: 3px;
    margin: 0.25em 0.1em;
    background: #01575d;
    display: block; }
  .pager .item.active::after {
    background: #02868f; }
  .pager .item.active:hover::after {
    background: #029ea9; }
  .pager .item:hover::after {
    background: #016f76; }
  .pager .controls {
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.9em; }
  .pager .position {
    line-height: 1em; }
  .pager i[class^='icon'] {
    font-size: 1.5em; }
    .pager i[class^='icon']:hover {
      color: #016f76; }
    .pager i[class^='icon']::before {
      vertical-align: middle; }

.title-bar {
  background: #f0eeeb;
  font-family: "Trocchi", sans-serif;
  border-bottom: 1px solid #dFdbd3; }
  .title-bar .container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .title-bar .container::after {
      clear: both;
      content: "";
      display: table; }
  .title-bar .inner-container {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 100%;
    padding: 2em 0; }
    .title-bar .inner-container:last-child {
      margin-right: 0; }
  .title-bar .title, .title-bar .subtitle {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 17.05961%; }
    .title-bar .title:last-child, .title-bar .subtitle:last-child {
      margin-right: 0; }
  .title-bar .title {
    font-size: 1.8em;
    margin-bottom: 0.375em; }
    .title-bar .title.alone {
      margin-bottom: 0; }

.content-section {
  width: 100%;
  float: left;
  padding-bottom: 2em;
  position: relative; }
  .content-section.last {
    padding-bottom: 0; }
  .content-section.description {
    padding-bottom: 0.75em; }
  .content-section a {
    color: #016f76;
    transition: color 0.1s linear;
    text-decoration: underline; }
    .content-section a:active, .content-section a:focus, .content-section a:hover {
      color: #02b5c2; }
  .content-section .controls {
    width: 100%;
    float: left;
    text-align: right;
    font-size: 0.9em;
    margin: 0.75em 0; }
    .content-section .controls i::before {
      text-decoration: none;
      margin-left: 0; }

.content-table-row {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 100%;
  table-layout: fixed; }
  .content-table-row::after {
    clear: both;
    content: "";
    display: table; }
  .content-table-row img {
    border: 1px solid #dFdbd3;
    border-radius: 3px; }
  .content-table-row .inline-map {
    width: 100%;
    float: left;
    position: relative; }

.table-cell.inline-photo-wrapper {
  display: table-cell;
  width: 25%; }
.table-cell.space {
  display: table-cell;
  width: 8.33333%; }
.table-cell.inline-map-wrapper {
  display: table-cell;
  width: 58.33333%;
  vertical-align: top; }

.photo-bar {
  width: 100%;
  float: left; }
  .photo-bar img {
    max-width: 8em; }
  .photo-bar .photo-wrapper {
    position: relative;
    display: inline-block;
    border: 1px solid #dFdbd3;
    float: left;
    margin-right: 0.75em;
    border-radius: 3px;
    cursor: pointer; }
    .photo-bar .photo-wrapper:after {
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: transparent; }
    .photo-bar .photo-wrapper:focus:after, .photo-bar .photo-wrapper:hover:after {
      background: rgba(153, 153, 153, 0.2); }

.stats {
  padding: 0.75em 0; }
  .stats ul {
    padding: 0;
    height: 2.75em;
    display: inline-block; }
  .stats li {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    color: #e56120;
    display: inline;
    float: left;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.1em;
    padding: 0 0.7em; }
    .stats li:first-child {
      padding-left: 0; }
    .stats li:last-child {
      border-right: 0; }
  .stats span {
    color: #333;
    display: block;
    font-size: 0.7em;
    font-weight: normal; }

.sidebar-item {
  width: 100%;
  float: left;
  padding: 0.75em 1.5em;
  border-bottom: 1px solid #dFdbd3;
  background: white;
  cursor: pointer;
  position: relative; }
  .sidebar-item img {
    border: 1px solid #dFdbd3;
    border-radius: 3px; }
  .sidebar-item .photo-wrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .sidebar-item .photo-wrapper:last-child {
      margin-right: 0; }
  .sidebar-item .info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding-left: 0.5em; }
    .sidebar-item .info:last-child {
      margin-right: 0; }
  .sidebar-item .title {
    font-weight: 700; }
  .sidebar-item .subtitle {
    font-size: 0.9em;
    color: #999; }
  .sidebar-item.selected {
    box-shadow: inset -4px 0 #dFdbd3;
    -moz-box-shadow: inset -4px 0 #dFdbd3;
    background: #f7f7f7; }
  .sidebar-item:hover, .sidebar-item:active, .sidebar-item:focus {
    background: #f7f7f7; }
  .sidebar-item.header {
    background: white;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    font-size: 0.85em;
    cursor: auto;
    padding-left: 1.75em; }

/*# sourceMappingURL=app.css.map */
