@import "../neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$first-breakpoint: 560px;
$second-breakpoint: 960px;
$third-breakpoint: 1220px;

$small-screen: new-breakpoint(max-width em($first-breakpoint));
$medium-screen: new-breakpoint(min-width em($first-breakpoint +1) max-width em($second-breakpoint));
$large-screen: new-breakpoint(min-width em($second-breakpoint + 1) max-width em($third-breakpoint));
$xlarge-screen: new-breakpoint(min-width em($third-breakpoint + 1));

$up-to-xlarge: new-breakpoint(max-width em($third-breakpoint));

$large-screen-up: new-breakpoint(min-width em($second-breakpoint + 1));
$medium-screen-up: new-breakpoint(min-width em($second-breakpoint + 1));