@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400|Trocchi);

// Typography
$base-font-family: $helvetica;
$heading-font-family: 'Open Sans', $base-font-family;
$subheading-font-family: 'Trocchi', sans-serif;

// Font Sizes
$base-font-size: 1em;
$title-font-size: $base-font-size * 1.1;
$subheading-font-size: $base-font-size * 1.1;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$alliance-green: #01575d;
$alliance-tan: #dFdbd3;
$alliance-orange: #e56120;
$alliance-blue: #6c8fa3;
$alliance-yellow: #ffba00;
$alliance-pink: #da89a8;
$alliance-dark-blue: #172e32;

// IWA colors
$iwa-emissions-color: $alliance-blue;
$iwa-efficiency-color: lighten($alliance-green, 15);
$iwa-indoor-emissions-color: $alliance-yellow;
$iwa-safety-color: $alliance-pink;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $medium-gray;

// Accent Colors
$base-accent-color: $alliance-tan;
$strong-accent-color: $alliance-orange;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Navigation
$navigation-height: 60px;