.emissions { color: $iwa-emissions-color; }
.efficiency { color: $iwa-efficiency-color; }
.indoor-emissions { color: $iwa-indoor-emissions-color; }
.safety { color: $iwa-safety-color; }

.back {
  font-size: 0.9em;
  margin-bottom: $base-spacing;

  i::before { margin-left: 0; }
}

.icon-info { 
  color: $medium-gray;
  font-size: 0.9em;
}

main {
  top: $navigation-height + 1px;

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3.3em;


    &::after {
      content: "";
      display: block;
    }
  }
}

.block-link { @include block-link }