aside[role="filters"] {
	background: white;
	position: fixed;
	top: $navigation-height + 1px;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
	webkit-overflow-scrolling: touch;
	width: 30%;
}

main[role="filterable-content"] {
	background: lighten($base-accent-color, 12);
	border-left: 1px solid $base-accent-color;
	position: fixed;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	webkit-overflow-scrolling: touch;
	width: 70%;
}

.grid {
	@include span-columns(12 of 12);
	padding: 1.5em;
}

.applied-filters {
	@include span-columns(12 of 12);
	@include omega;
	margin-bottom: 1em;
	font-size: 0.9em;
	line-height: 1.6em;

	.section-label { 
		color: $medium-gray;
		padding: 1em 0;
		line-height: 2em;
	}
}