main[role="full-width-content"] {
  .sidebar {
    @include span-columns(2);
    padding: $base-spacing 0;

    img {
      border: 1px solid $base-accent-color;
      border-radius: 3px;
    }
  }

  .content {
    @include span-columns(8);
    padding: $base-spacing 0;
    margin-bottom: $base-spacing * 4;

    &.longform {
      line-height: $base-line-height * 1.2;
      margin-bottom: $base-spacing;
    }
  }

  .wrapper {
    margin-top: -($navigation-height + 1px);
    padding-top: ($navigation-height + 1px);
  }

  .container { @include outer-container; }
}