main[role="landing"] {
  .content {
    @include fill-parent;
    float: left;
  }

  .hero {
    @include background(linear-gradient(lighten($alliance-green, 4%), lighten($alliance-green, 2%)), bottom no-repeat);
    @include media($xlarge-screen) {
      padding: ($base-spacing * 2) 0;
    }
    @include media($medium-screen-up) {
      font-size: 100%;
    }
    padding: ($base-spacing * 2) $base-spacing;
    color: white;
    text-transform: uppercase;
    
    .inner { @include outer-container; }

    .logo {
      @include row;
      margin-bottom: $base-spacing;

      img { max-width: 120px; }
    }

    .text {
      @include row;
    }

    .title {
      font-size: 1.7em;
      font-weight: 700;
      margin-bottom: 0.25em;
    }

    .subtitle {
      font-size: 1.2em;
    }

    font-size: 80%;

  }

  .row {
    @include fill-parent;
    float: left;

    &.shaded { background: lighten($alliance-tan, 8%); }

    .inner {
      @include outer-container;
      @include media($xlarge-screen) {
        padding: ($base-spacing * 2) 0 ($base-spacing * 2) 0;
      }
      padding: ($base-spacing * 2) $base-spacing ($base-spacing * 2) $base-spacing;
    }

    .large-section {
      @include media($large-screen-up) {
        width: 60%;
        min-height: 550px;
      }
      @include media($medium-screen) { min-height: 400px; }
      @include media($small-screen) { min-height: 250px; }
      @include fill-parent;
      float: left;
      min-height: 300px;
      &.contribute { 
        @include background(url("../images/field.jpg") top left no-repeat); 
        background-size: cover;
      }
    }

    .small-section {
      @include media($large-screen-up) {
        width: 40%;        
        padding: 3em;

      }
      @include fill-parent;
      float: left;
      padding: 2em $base-spacing 1em $base-spacing;
    }

    .description {
      font-size: 1.2em;
      margin-bottom: $base-spacing * 1.5;
      max-width: 40em;
      float:left;
      clear: right;

      &.site-description { margin-bottom: $small-spacing; }
    }

    .title {
      @include fill-parent;
      float: left;
      text-transform: uppercase;
      color: $medium-gray;
      font-weight: 700;
      font-size: 1.2rem;
      margin-bottom: $base-spacing;

      &.site-title  { margin-bottom: $small-spacing; }
    }

    .learn-more-btn {
      @include button(flat, lighten($alliance-green, 10%));
      font-size: 0.9rem;
      text-transform: uppercase;

      &.about { 
        @include button(flat, $base-accent-color);
        font-size: 0.9rem;
      }

    }
  }

  .row-controls {
    @include fill-parent;
    float: left;
  }

  .site-sections {
    @include fill-parent;
    float: left;
    margin-bottom: $base-spacing;
  }

  .site-section {
    @include media($large-screen-up) {
      @include span-columns(4 of 12);
      min-height: 260px;
      margin-bottom: 0;
    }
    @include media($medium-screen) {
      min-height: 260px;
    }

    @include fill-parent;
    float: left;

    @include overlay-on-hover(rgba($dark-gray, 0.3));
    box-shadow: 0 2px 4px darken($medium-gray, 10%);
    cursor: pointer;
    font-family: $subheading-font-family;
    min-height: 230px;
    padding: $small-spacing;
    color: white;
    background-size: cover;
    font-size: 1.7rem;
    text-shadow: 1px 1px 0 $dark-gray;
    margin-bottom: $small-spacing;

    &.stoves { @include background(url("../images/wood-rocket.jpg") center / cover no-repeat); }
    &.fuels { @include background(url("../images/uganda-briquettes.jpg") center / cover no-repeat); }
    &.test-results { @include background(url("../images/epa-lab.jpg") top / cover no-repeat); }

    .text {
      @include background(linear-gradient(rgba($dark-gray, 0.75), transparent) bottom no-repeat);
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      padding: $small-spacing;
      z-index: 11;
      border-radius: inherit;
    }

    .options {
      @include media($large-screen-up) {
        display: block;
      }
      @include background(linear-gradient(transparent, rgba($dark-gray, 0.2)) bottom no-repeat);
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
      font-size: 1.3rem;
      padding: 3rem 1rem 1rem 1rem;
      z-index: 11;
      line-height: 2.3rem;
    }

    a { 
      color: white;

      &:hover {
        color: lighten($alliance-green, 20%);
      }
    }
  }
}

.user-grid {
  @include fill-parent;
  float: left;
  border: 1px solid $base-accent-color;
  border-radius: 3px;

  .item {
    display: block;
    height: 260px;
    width: 100%;
    float: left;
    padding: 2em;
    background: white;
    border-right: 1px solid $base-accent-color;
    border-bottom: 1px solid $base-accent-color;
    text-align: center;

    img { 
      @include media($medium-screen-up) {
        height: 4.5em;
      }
      height: 3.5em;
    }

    .icon { margin-bottom: $base-spacing; }

    @include media($small-screen) {
      width: 100%;
      border-right: none;
      height: 235px;
      padding: 1.5em;
      &:first-child { 
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }
      &:last-child { 
        border-bottom-right-radius: 3px; 
        border-bottom-left-radius: 3px;
        border-bottom: none;
      }
    }

    @include media($medium-screen) {
      width: 50%;
      &:nth-child(1) { border-top-left-radius: 3px; }
      &:nth-child(2) { border-top-right-radius: 3px; }
      &:nth-child(5) {
        border-bottom-left-radius: 3px;
        border-bottom: none;
      }
      &:nth-child(6) { 
        border-bottom-right-radius: 3px;
        border-bottom: none;
      }
      &:nth-child(2n) {
        border-right: none;
      }
    }

    @include media($large-screen-up) {
      width: 33.3%;
      &:nth-child(1) { border-top-left-radius: 3px; }
      &:nth-child(3) { border-top-right-radius: 3px; }
      &:nth-child(4) { 
        border-bottom-left-radius: 3px;
        border-bottom: none;
      }
      &:nth-child(5) { 
        border-bottom: none;
      }
      &:nth-child(6) { 
        border-bottom-right-radius: 3px; 
        border-bottom: none;
      }

      &:nth-child(3n) {
        border-right: none;
      }
    }
  }

  .name {
    text-transform: uppercase;
    font-weight: bold;
    color: $medium-gray;
    margin-bottom: $base-spacing;
  }

  .caption { margin: 0; }


}