main[role="show-content"] {
  .sidebar {
    @include span-columns(2);
    margin-top: 2rem;

    img {
      margin-top: 1.75em;
      border: 1px solid $base-accent-color;
    }
  }

  .content {
    @include span-columns(8);
    margin-bottom: $base-spacing * 4;
  }

  .back {
    font-size: 0.9em;
    line-height: 1.6em;

    i::before { margin-left: 0; }
  }

  .content-section {
    @include span-columns(8 of 8);
    padding-top: 2em;
  }

  .wrapper {
    margin-top: -($navigation-height + 1px);
    padding-top: ($navigation-height + 1px);
  }

  .container {@include outer-container; }

}