aside[role="content-assist"] {
  @include media ($large-screen-up) {
    width: 30%;
    display: block !important;
  }

  display: none;
  background: white;
  position: fixed;
  top: $navigation-height + 1px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  webkit-overflow-scrolling: touch;
}

main[role="content"] {
  @include media ($large-screen-up) {
    width: 70%;
    display: block !important;
  }

  width: 100%;
  border-left: 1px solid $base-accent-color;
  position: fixed;
  right: 0;
  bottom: 0;
  top: $navigation-height + 1;
  overflow-y: scroll;
  webkit-overflow-scrolling: touch;

  &.show { 
    background: white;
  }

  .content {
    @include outer-container;
    padding: $base-spacing;
    margin-bottom: $base-spacing * 4;
  }
}

.grid {
  @include fill-parent;
  float: left;
  padding: 1.5em;
}

.pane-controls {
  @include media($large-screen-up) {
    display: none;
  }
  @include fill-parent;
  position: fixed;
  bottom: 1rem;
  padding: 0 1.5rem;
  text-align: center;
  -webkit-transform: translateZ(0);
}

.pane-toggle {
  @include button(flat, $strong-accent-color);
  display: block;
  text-transform: uppercase;
}
