.applied-filters {
  $filter-padding: 0.5em;

  @include fill-parent;
  float: left;
  padding: 1.4em $base-spacing 0.8em $base-spacing;
  background: lighten($base-accent-color, 8%);
  border-bottom: 1px solid $base-accent-color;

  .label { 
    @include media ($xlarge-screen) {
      @include span-columns(2 of 12);
    }
    @include fill-parent;
    float: left;
    white-space: nowrap;
    font-size: 0.85em;
    font-weight: 700;
    text-transform: uppercase;
    color: $medium-gray;
    margin-bottom: $filter-padding;

  }

  .filters {
    @include media ($xlarge-screen) {
      @include span-columns(8 of 12);
    }
    @Include span-columns(10 of 12);
    @include fill-parent;
    float: left;
    font-size: 0.9em;
  }

  .filter {
    margin-right: $filter-padding;
    margin-bottom: $filter-padding;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: darken($action-color, 15%);
    }
  }
}