.content-section {
  @include fill-parent;
  float: left;
  padding-bottom: 2em;
  position: relative;
}

.content-table-row {
  @include outer-container();
  @include row(table);

  img {
    border: 1px solid $base-accent-color;
    border-radius: 3px;
  }

  .inline-map {
    @include fill-parent;
    float: left;
    position: relative;
  }
}

.table-cell {
  &.inline-photo-wrapper {
    @include span-columns(3);
  }

  &.space {
    @include span-columns(1);
  }

  &.inline-map-wrapper {
    @include span-columns(7);
    @include reset-display;
  }
}





