.counter {
  $font-family: $heading-font-family;
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: $base-font-size * 0.75;
  line-height: 1;
  color: $medium-gray;
  background-color: $light-gray;
  border-radius: 0.5em;
  margin-left: 0.3em;
}