.data-field {
  $value-color: lighten($alliance-green, 5%);

  @include fill-parent;
  float: left;
  padding: 0.25em 0;

  p { margin: 0; }

  .label, .value {
    display: inline-block;

    &.full-width {
      @include fill-parent;
      float: left;
    }
  }

  .label {
    @include span-columns(4);

    &.full-width {
      margin-bottom: 0.25em;
    }
  }

  .value {
    @include span-columns(8);
    color: $value-color;
  }

  .small {
    color: $medium-gray;
    font-size: 0.8em;
  }

  .filename {
    @include span-columns(9);
    padding: 0.3em 0;
  }

  .download-link-wrapper {
    @include span-columns(3);
  }

  .download-link {
    @include button('flat', $base-accent-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
  }

  i::before { margin-left: 0; }
}