$filter-group-padding: 1em;
$inline-filter-mode: $xlarge-screen;

.filter-panel {
  @include media($medium-screen-up) {
    padding: 0.5em $base-spacing;
  }
  @include outer-container;
  font-family: $heading-font-family;
  padding: 0.5em $base-spacing $base-spacing * 3 $base-spacing;

  .panel-header {
    @include fill-parent;
    float: left;
    position: relative;
    line-height: 1.6em;
    padding: ($filter-group-padding - 0.25em) 0;

    .count {
      @include fill-parent;
      float: left;
      @include media ($inline-filter-mode) {
        @include span-columns(6);
        margin-bottom: 0;
      }
      padding: 0.25rem 0;
    }

    .count-value { font-size: $base-font-size * 1.6; }
    .count-label { 
      color: $medium-gray;
    }

    .download {
      @include fill-parent;
      float: left;
      @include media ($inline-filter-mode) {
        @include span-columns(6);
        @include omega;
        text-align: right;
      }      
      font-size: $base-font-size * 0.9;
      line-height: 2.3em;
      padding: 0.25rem 0;
    }
  }
}

.filter-group {
  @include span-columns(12);
  padding: $filter-group-padding 0;
  border-bottom: 1px solid $light-gray;
  font-size: $base-font-size * 0.9;

  &.last { border-bottom: none; }

  .label {
    @include fill-parent;
    float:left;
    padding: 0.5em 0;
  }

  .options {
    @include fill-parent;
    float: left;
  }

  @include media ($inline-filter-mode) {
    .options.inline,
    .label.inline { @include span-columns(6 of 12) } 
  }

  .icon-info { color: $action-color; }

  input {
    margin-top: 0;
    margin-bottom: 0;
  }
}


.checkbox-group {
  @include fill-parent;
  float: left;
  position: relative;

  label {
    @include media ($inline-filter-mode) {
      width: 50%;
      float: left;
      padding-right: 1.2em;
    }

    @include fill-parent;
    float: left;
    font-family: $base-font-family;
    padding: 0.6em 0;
    font-weight: 400;
    margin: 0;
    line-height: 1.3em;
  }

  .string {
    display: inline-block;
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    margin-left: $filter-group-padding / 2;
  }

  i {
    @include media($inline-filter-mode) {
      top: 1.75em;
    }

    position: absolute;
    right: 0;
    top: 4.75em;
    font-size: 1.6em;
    color: $action-color;

      &:before { margin-right: 0; }

      &:hover { color: darken($action-color, 15%); }
  }

  .more-choices { @include span-columns(12); }

  &.is-expanded {
    display: block;
    padding-bottom: 0;
  }
}

.with-pips {
  padding-bottom: 4em;
}

.with-slider-labels {
  padding-bottom: 2em;
}