.grid-item {
  $card-hover-background: lighten($light-gray, 8);
  @include media ($xlarge-screen) {
    @include span-columns(6 of 12);
  }

  @include span-columns(12 of 12);
  max-width: 34em;
  @include omega(2n);
  margin-bottom: 1.5em;
  border: 1px solid $base-accent-color;
  border-radius: 3px;
  background: white;
  box-shadow: 0 2px 4px darken($base-background-color, 15%);
  cursor: pointer;
  position: relative;

  .photo {
  	@include span-columns(2 of 6);
  	border-right: 1px solid $base-accent-color;
  	overflow: hidden;
  }

  .item-content {
  	@include fill-parent;
  	@include omega;
  	padding-right: 1em;
  }

  .small {
  	color: $medium-gray;
  	font-size: 0.9em;
  }

  .info {
  	@include fill-parent;
  	padding: 0.5em 0;
  }

  .iwa {
  	margin-top: 0.5em;
  	position: absolute;
  	bottom: 0;
  	left: 30%;
  	width: 70%;
  	text-align: right;
  	border-top: 1px solid $base-accent-color;
  	padding: 0 0.5em;

 	.iwa-tier { 
  		padding: 0.5em;
  		display: inline-block;
	    font-size: 0.9em;
  	}
  }

  &:after { 
    @include transition (all 0.1s ease-in-out);
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
  }

  &:focus,
  &:hover {
    &:after {
      background: rgba($medium-gray, 0.1);
    }
  }
}