.prefooter {
	width: 100%;
	padding: 2em $base-spacing;
    border-top: 1px solid lighten($alliance-dark-blue, 30%);
	@include background(url("/images/briquette-background-transparent.png"), 
		linear-gradient(lighten($alliance-dark-blue, 10%), $alliance-dark-blue),
		center no-repeat lighten($alliance-dark-blue, 8%) scroll);	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

	.inner { @include outer-container; }

	.logo {
		@include span-columns(4);

		img { max-width: 148px; }
	}

	.contact {
		@include span-columns(4);
		line-height: 1.8em;

		.title { 
			font-weight: 700;
			margin-bottom: 0.25em;
		}
	}

  a {
    color: lighten($alliance-green, 75%);
    transition: color 0.1s linear;

    &:active,
    &:focus,
    &:hover {
      color: lighten($alliance-green, 95%);
    }
  }
}