.stats-wrapper {
  @include fill-parent;
  float: left;
  text-align: center;
}

.stats {
  $stats-color: $alliance-orange;

  @include fill-parent;
  float: left;
  padding: ($base-spacing / 2) 0;
  margin-bottom: $base-spacing;
  background: lighten($base-accent-color, 5);
  border-radius: 3px;

  ul {
    @include media($medium-screen-up) {
      display: inline-block;
    }
    padding: 0;
    display: block;
  }

  li {
    @include media($medium-screen-up) {
      border-right: 1px solid transparentize($base-font-color, 0.8);
      display: inline;
      width: auto;
      margin-bottom: 0;
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
    }

    margin-bottom: $small-spacing;
    width: 100%;
    color: $stats-color;
    float: left;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.1em;
    padding: 0 $small-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}