.title-bar {
  background: lighten($base-accent-color, 8%);
  font-family: $subheading-font-family;
  border-bottom: (1px solid $base-accent-color);
  @include fill-parent;
  float: left;

  .container { @include outer-container; }

  .inner-container { 
    @include media($medium-screen-up) {
      padding: 2em 0;
    }
    padding: 1em 0;
    @include fill-parent;
    float: left;
  }

  .title, .subtitle {
    @include media($large-screen-up) {
      @include span-columns(10);
      @include shift(2);
    }
    @include fill-parent;
    float: left;
    padding: 0 1.5rem;
  }

  .title {
    @include media($medium-screen-up) { 
      font-size: 1.8em;
    }
    font-size: 1.3em;
    margin-bottom: $small-spacing / 2;

    &.alone { margin-bottom: 0; }
  }
}